<!DOCTYPE html>
<html>
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}

        .container {
        padding: 20px;
        background-color: #f1f1f1;
        }
    </style>
    <body>
        <div class="container">
            <h2>IP ranges checker job of thebrotales.co.za failed!</h2>
            <a href="https://github.com/thebrotales/thebrotales.co.za/actions/workflows/fix-ip.yaml">
                <img src="https://github.com/thebrotales/thebrotales.co.za/actions/workflows/fix-ip.yaml/badge.svg" alt="fix-ip" style="max-width: 100%;">
            </a>
        </div>
    </body>
</html>

