<footer id="footer">
    <div class="has-background-black has-text-centered has-text-white is-size-5" id="credits">
        All images are subject to copyright  <a href="https://thebrotales.co.za/terms" target="_blank" rel="noopener noreferrer">The BRO Tales</a> <i class="far fa-copyright is-size-7"></i>  {{ "now" | date: "%Y" }} | Powered by <a href="https://pages.github.com/" target="_blank">GitHub Pages </a>and <a href="https://github.com/thedevslot/WhatATheme" target="_blank" rel="noopener noreferrer">WhatATheme</a>
    </div>
</footer>