---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

    <body>
    {% include navbar.html %}
    
    <section class="hero is-fullheight has-text-centered" id="hero-newsletter">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-one-third has-text-black has-text-right" style="margin-top: 0.5rem;">
                    <div class="is-size-2">
                        Volume 1 | Issue 1
                    </div>
                    <div class="is-size-2">
                        October 2022
                    </div>
                    <div class="is-size-4">
                        The more that you <b><i>READ</i></b>, the more things you will <b><i>KNOW</i></b>.
                        <br>
                        The more that you <b><i>LEARN</i></b>, the more places you’ll <b><i>GO</i></b>.
                        <br>
                        Dr Seuss

                    </div>
                </div>
                <div class="column is-half has-text-black">
                    <div class="is-size-1 has-text-left">
                        Bonny, Ronnie & Onnie
                    </div>

                    <div class="is-size-4 has-text-justified">
                        As I prepare to launch the first of the BRO Series, I want to say a huge thank you to the adults, teachers, parents, grandparents, aunties, uncles and librarians who buy my book to read to their “little one’s” –  I wish you fun and laughter with each adventure!
                    </div>

                    <div class="is-size-3 has-text-left" style="text-decoration: underline;">
                        Meet the Author
                    </div>

                    <div class="columns">
                        <div class="column is-one-third has-text-black has-text-justified" style="margin-top: 0.5rem;">

                            <div>
                                <figure class="image is-centered is-3-by-5">
                                    <img src="assets/images/author.jpg">
                                </figure>
                            </div>
                        </div> 
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                                Let me introduce myself. My name is Moira Mirtle and I am the author and creator of the BRO Series.  I am a Mom of two grown up daughters and live in Stellenbosch in South Africa. I love to laugh and am a huge fan of reading. 
                            </p>
                            <br>
                            <p class="is-size-4">
                                What prompted me to write tales about 3 old ladies you may ask.  My extremely fortunate childhood consisted of a few impactful grandmothers in my life.
                            </p>
                            <br>
                            <p class="is-size-4">
                                Yes, <i>plural</i>, grandmothers - more than two of them.
                            </p>
                            <br>
                            <p class="is-size-4">
                                These fond memories prompted the very first seed of my growing book series.  I am not sure if you can relate, but I had an outdoor childhood.  I grew up in a Country with wonderful weather and a relaxed environment. Spending time with my grandmothers was always fun and I had a "<b>Nana</b>" (British Gran) and an "<b>Ouma</b>" (Afrikaans Gran) and the most wonderful "<b>Gogo</b>" (Grandmother in Ndebele). This was who I spent most of time with as a child, and where I learnt to smile and enjoy hours of play and reading. I feel so honored to share the fun tales with you! 
                            </p>
                            <br>
                            <p class="is-size-4">
                                In my next newsletter: Meet the illustrator... 
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}
    </body>

</html>