---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

    <body>
    {% include navbar.html %}
    <section class="hero is-fullheight has-text-centered" id="hero-newsletter">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-one-third has-text-black has-text-right" style="margin-top: 0.5rem;">
                    <div class="is-size-2">
                        Volume 1 | Issue 7
                    </div>
                    <div class="is-size-2">
                        April 2023
                    </div>
                    <div class="is-size-4">
                        "It is better to know how to learn than to know.
                        <br>
                        ― Dr Seuss

                    </div>
                </div>
                <div class="column is-half has-text-black">
                    <div class="is-size-1 has-text-left">
                        Beautiful English
                    </div>

                    <div class="columns">
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                                Something I had discussions about when my daughters were growing up is the use of descriptive words in English. We used to have a lot of laughs over words that were overused  and unimaginative. 'Nice' is the commonly used word, and my response to this word is: "Tea is <i>nice</i>..." 
                            </p>
                            <br>
                            <p class="is-size-4">
                                I have always marveled at the many beautiful words that can be used. I say that we have such a large volume of wonderful words to use, so why settle for 'nice'. I get so much delight when I get to instill a love of new vocabulary to my students. The main reason I wrote the BRO series was for rhyming and word expansion.
                            </p>
                            <br>
                            <p class="is-size-4">
                                I placed one or two slightly difficult words in each book just to help gently nudge this concept forward and as it turns out we had so much fun this past month with our wonderful readers. The honesty of the young children is shown in the answering of a question. 
                            </p>
                            <br>
                            <p class="is-size-4">
                                We asked a few children between the ages of 4 – 8 what they think 'sonnet' means.
                            </p>
                            <br>
                            <p class="is-size-4">
                                Here are their replies:
                                <br>
                                "I think a sonnet is an army tank"
                                <br>
                                "I think it's a type of Maths equation"
                                <br>
                                "I think it's chocolate, white or brown - maybe mint chocolate"
                            </p>
                            <br>
                            <p class="is-size-4">
                                I loved the honesty and willingness to answer this question. We will have some more of this during the month of May to celebrate literacy and boost interest in reading with children.
                            </p>
                            <br>
                            <p class="is-size-4">
                                Here is the excerpt in context of the story "Cupcakes and Kittens”:
                                <br>
                                <i>
                                    Steam was rising from the bonnet,
                                    <br>
                                    Making sounds from an awful sonnet,
                                </i>
                            </p>
                            <br>
                            <p class="is-size-4">
                                Meaning of the word 'sonnet' - a fourteen-line poem written in iambic pentameter employing one of several rhyme schemes and adhering to a tightly structured thematic organisation. The name is taken from the Italian 'sonneto', which means "a little sound or song".
                            </p>
                            <div class="column has-text-black has-text-justified">
                                <div class="columns">
                                    <div class="column is-one-sixth"></div>
                                    <div class="column is-two-thirds has-text-black has-text-centered"  style="margin-top: 0.5rem;">
                                        <div>
                                            <figure class="image is-centered is-3-by-5">
                                                <a>
                                                    <img src="assets/images/awful-sonnet.jpeg">
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="column is-one-sixth"></div>
                                </div>
                            </div>
                            <p class="is-size-4">
                                Practice your 'beautiful English' whenever you can, listen and repeat. Find a friend who promotes pr heightens your English skills and don't be afraid of making mistakes. Read out loud and use the word often. Practice, practice and practice again. Enjoy the experience.
                            </p>
                            <a href="{{site.url}}{{site.baseurl}}/pages-the-guavas-are-gone"
                                class="button is-overlay is-black is-size-4 is-rounded is-outlined is-uppercase has-text-weight-bold content-font">Buy The BRO Series Books Today!
                            </a>
                            
                        </div>
                    </div>
                    <p class="is-size-4 has-text-left">
                        In the next BRO Series newsletter: Let's meet Gogo...
                    </p>
                </div>
            </div>
        </div>

        <div class="hero-body">
            <div class="columns">
                <div class="column is-one-third has-text-black has-text-right" style="margin-top: 0.5rem;">
                    <div class="is-size-2">
                        Volume 1 | Issue 6
                    </div>
                    <div class="is-size-2">
                        March 2023
                    </div>
                    <div class="is-size-4">
                        "Don't cry because it's over.
                        <br>
                        Smile because it happened."
                        <br>
                        ― Dr Seuss

                    </div>
                </div>
                <div class="column is-half has-text-black">
                    <div class="is-size-1 has-text-left">
                        The Lockview Plot
                    </div>

                    <div class="is-size-1 has-text-left">
                        Home Is Where The Heart Is.
                    </div>

                    <div class="columns">
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                                As the saying goes "Home is where the heart is". This spot will always be that place! As I walk around the house and land in my mind, it rewinds to those good old days and all the fond memories. The vivid scenes now a little more faded just like the buildings on the plot. Not as bright and shining as it once was, but still holding a special part in my heart.
                            </p>
                            <br>
                            <p class="is-size-4">
                                A day at the plot meant a day of family fun, treats and adventure! There was so much to do, so much space to run and explore. Trees to climb, fruit to pick and a hearty meal at the enormous and grand dining room table. A day with Nana meant the spoils of love and attention only given from grandparents - woven with exciting games for an entire day! A child's delight!
                            </p>
                            <br>
                            <p class="is-size-4">
                                In the heat of summer, we would meet at the reservoir near the small cottage. I see my cousins, aunties and uncles jumping into the cool, possibly dirty, water on a hot day. Splashing and playing in the makeshift swimming pool we would play "Marco Polo" or swish the circle with made us all swim in one direction until the water started swirling round and then we all swam backwards against the current with huge delight! Whirlpool games over and we would sun ourselves on the cement around the reservoir, just lying like lizards on the ground!
                            </p>
                            <br>
                            <p class="is-size-4">
                                I recall tea and cupcakes on the lawn, while Onnie sat in a comfortable chair and the adults sat in dotted old iron chairs. Unstable tables held the trays of delights and teapots with cups. Our kid's spot was on the thick lush lawn, and we were happy to sit and listen to the chatter of the older family members while eating our treats.
                            </p>
                            <br>
                            <p class="is-size-4">
                                The orchards remind me of picking Guavas with my Nana and taking them into the kitchen for Aunty Ronnie to make jam. Then one lazy afternoon my brothers and I decided there were just far too many ripe Guavas, so we picked them, packed them, and went up the road selling them. We got into so much trouble that day!
                            </p>
                            <br>
                            <p class="is-size-4">
                                Part of the family was a white Alsatian dog with one ear up and one down. His name was Flash, and he was as fast as lightning. He loved to fetch a ball and bring it to you so we would spend ages throwing the ball for him keeping him entertained to exhaustion.
                            </p>
                            <br>
                            <p class="is-size-4">
                                The card games in the 'Children's Lounge' were the highlight end to the evening. We would sit on the carpet and play with a pack of cards and learn games like Rummy, Royals and Snap! Teaching us to be alert and perhaps slightly competitive! Then one last farewell after the day while standing on the patio. Nagging our Nana to regale the tales of her wide-eyed visitors to the garden. We heard about the Fairies and Elves that appeared in the cool of the evening, when all was quiet. Nana's description was so detailed that I still have these images embedded in my mind today. The faces of the inquisitive and mystical creatures that lived on this piece of land... a little piece of heaven
                            </p>
                            <br>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column has-text-black has-text-justified">
                            <div class="columns">
                                <div class="column is-one-third has-text-black has-text-centered"  style="margin-top: 0.5rem;">
                                    <div>
                                        <figure class="image is-centered is-3-by-5">
                                            <a>
                                                <img src="assets/images/lockview/lockview1.jpg">
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="column is-one-third"></div>
                                <div class="column is-one-third has-text-black has-text-centered  style="margin-top: 0.5rem;">
                                    <div>
                                        <figure class="image is-centered is-3-by-5">
                                            <a>
                                                <img src="assets/images/lockview/lockview2.jpg">
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column is-one-fifth"></div>
                                <div class="column has-text-black has-text-centered  style="margin-top: 0.5rem;">
                                    <div>
                                        <figure class="image is-centered is-3-by-5">
                                            <a>
                                                <img src="assets/images/lockview/lockview3.jpg">
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="column is-one-fifth"></div>
                            </div>

                            <div class="columns">
                                <div class="column is-one-third has-text-black has-text-centered"  style="margin-top: 0.5rem;">
                                    <div>
                                        <figure class="image is-centered is-3-by-5">
                                            <a>
                                                <img src="assets/images/lockview/lockview4.jpg">
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="column is-one-third"></div>
                                <div class="column is-one-third has-text-black has-text-centered  style="margin-top: 0.5rem;">
                                    <div>
                                        <figure class="image is-centered is-3-by-5">
                                            <a>
                                                <img src="assets/images/lockview/lockview5.jpg">
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-one-fifth has-text-black has-text-centered"  style="margin-top: 0.5rem;"></div>
                                <div class="column">
                                    <p class="is-size-4 has-text-left">
                                        Present day images of the abandoned Lockview plot in Bulawayo. 
                                    </p>
                                </div>
                                <div class="column is-one-fifth has-text-black has-text-centered  style="margin-top: 0.5rem;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="is-size-3 has-text-left" style="text-decoration: underline;">
                        The 2nd book in The BRO Series: Guavas Are Gone is now available online!
                    </div>
                    <div class="columns">
                        <div class="column is-one-third has-text-black has-text-justified" style="margin-top: 0.5rem;">

                            <div>
                                <figure class="image is-centered is-3-by-5">
                                    <img src="assets/images/theguavasaregone.jpg">
                                </figure>
                            </div>
                        </div> 
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                                Come and see what Bonny, Ronnie & Onnie get up to in the orchard…something happens to the guavas. CLICK the button below to buy the Guavas Are Gone for your little ones today.
                            </p>  
                            <br>
                            <br>
                            <a href="{{site.url}}{{site.baseurl}}/pages-the-guavas-are-gone"
                                class="button is-overlay is-black is-size-4 is-rounded is-outlined is-uppercase has-text-weight-bold content-font">Buy The Guavas are Gone Today!</a>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-body">
            <div class="columns">
                <div class="column is-one-third has-text-black has-text-right" style="margin-top: 0.5rem;">
                    <div class="is-size-2">
                        Volume 1 | Issue 5
                    </div>
                    <div class="is-size-2">
                        February 2023
                    </div>
                    <div class="is-size-4">
                        "You have brains in your head.
                        <br>
                        You have feet in your shoes. 
                        <br>
                        You can steer yourself any direction you choose."
                        <br>
                        ― Dr Seuss

                    </div>
                </div>
                <div class="column is-half has-text-black">
                    <div class="is-size-1 has-text-left">
                        The Weird and Wonderful Onnie?
                    </div>

                    <div class="is-size-1 has-text-left">
                        The Story of Onnie.
                    </div>

                    <div class="columns">
                        <div class="column is-one-third has-text-black has-text-justified" style="margin-top: 0.5rem;">

                            <div>
                                <figure class="image is-centered is-3-by-5">
                                    <img src="assets/images/onnie.jpeg">
                                </figure>
                            </div>
                        </div> 
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                                Onnie was quite a quirky card. She made us laugh just by being herself. She just did humorous things, and although to her it was quite normal, we often laughed at her actions and wondered what was going on inside that head of hers...
                            </p>  
                            <br>
                            <p class="is-size-4">                                
                                Onnie was mainly in her own little world and used to do a lot of funny things. It was "potluck" to see whatever she would come up with next!
                            </p>
                            <br>
                            <p class="is-size-4">
                                She was harmless and kind and all was done with good intentions. Onnie would have a vacant look on her face whenever she was thinking hard, and during the melancholy moments she would press her finger into her neck to cause the lump in her throat to block off the any tears.
                            </p>
                            <br>
                            <p class="is-size-4">
                                Life for Onnie was all about fun and games. She often invented games that would cause shrieks of laughter! Onnie also loved to knit loads of little colourful squares with the intention of making a large bedspread one day. Her cupboard was stuffed with bags of these little colourful squares, but she never actually stitched them together. She was always very suspicious about anybody going into her room and accused us of looking for something to steal - as if we were scheming to get into her cupboard and make off with a bag of knitted squares!
                            </p>
                            <br>
                            <p class="is-size-4">
                                Her fridge was a nightmare too, full of bottles of "goodness" knows what. When you opened a bottle of jam it was covered in white mould on top, but she said it was "only penicillin" and ate it to stop getting tonsillitis! Let's just say that her presents were legendary!
                            </p>
                            <br>
                            <p class="is-size-4">
                                Onnie was an unbelievable hoarder! One day, we found about 40 Surf-soap boxes in her cupboard. She told us that there was special offer running if you sent in the lids, but in reality that offer expired about 10 years ago! She also had about 20 cocoa tins just "in case" she wanted to make "Boston Bread" (presumably cooked in a cocoa tin?) I don't think she ever made Boston Bread or even knew what it was? She kept so much in her Kist and cupboards that not only did we have to check expiry dates when offered a treat, we also noted that price tags mentioned <i>pence</i> however we were then dealing in <i>cents</i> . Ha ha - this is how long Onnie would keep her secret stocks safely tucked away!
                            </p>
                            <br>
                            <p class="is-size-4">
                                Onnie suffered from extreme cold and when her hand were like ice blocks, she would press her fingers to cheek and say, "feel this" as her icy blue fingers shocked your face!
                            </p>
                            <br>
                            <p class="is-size-4">
                                On holiday at the seaside, Onnie would sit and watch for the train with my younger cousins. We would all stand at the window and cheer the driver on with waving arms and leaps of excitement. Onnie enjoyed outings like family picnics where she could be found playing rounders with her skirt tucked up into her knickers and running around with whoops and laughter.
                            </p>
                            <br>
                            <p class="is-size-4">
                                She used to visit our home in Bulawayo and "raid" all the fruit trees, filling up packets with peaches, guavas, pears, no matter if they were ripe or green. Even when the guavas were full of worms she would still "stew" them and eat them - waste not, want not.
                            </p>
                            <br>
                            <p class="is-size-4">
                                Onnie loved to "Ostrich"! This was the cleverest way of avoiding using a vacuum cleaner - or, as she would called it - the <i>Ewbank Carpet Sweeper</i>. "Ostriching" involved her bending down from the hips, knees apart and slightly bent to maintain balance, picking up bits of dirt from the carpet or floor. This was her perfect way to make housework and exercise have value!
                            </p>
                            <br>
                            <p class="is-size-4">
                                She was a "Grande Dame", worthy of love and affection, and also one to be respected for her simple approach to life. Thanks for the laughs Onnie, for teaching us to just "be yourself" no matter what anyone thinks, being grateful for anything and anyone around you, and making life fun. Your fascination and interest in the simple things is what made you so special.
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-body">
            <div class="columns">
                <div class="column is-one-third has-text-black has-text-right" style="margin-top: 0.5rem;">
                    <div class="is-size-2">
                        Volume 1 | Issue 4
                    </div>
                    <div class="is-size-2">
                        January 2023
                    </div>
                    <div class="is-size-4">
                        "Today you are you, that is truer than true.
                        <br>
                        There is no one alive who is youer than you."
                        <br>
                        ― Dr Seuss

                    </div>
                </div>
                <div class="column is-half has-text-black">
                    <div class="is-size-1 has-text-left">
                        Who is Ronnie?
                    </div>

                    <div class="is-size-1 has-text-left">
                        The Story of Ronnie.
                    </div>

                    <div class="columns">
                        <div class="column is-one-third has-text-black has-text-justified" style="margin-top: 0.5rem;">

                            <div>
                                <figure class="image is-centered is-3-by-5">
                                    <img src="assets/images/ronnie.jpeg">
                                </figure>
                            </div>
                        </div> 
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                                Aunty Ronnie was quite a character. She clipped her hair behind her ears with “Kirby” grips… lovely old fashioned hair clips! When her hair was not in clips, she could be found with curlers and a “head scarf” made of silk over her head, which flapped about. She tied her scarf differently to anyone, she decided the bow should be on top of her head instead!
                            </p>  
                            <br>
                            <p class="is-size-4">                                
                                She was a short and stout and would waddle about. Having had a serious operation on her right leg, this leg was smaller than the left and made her look slightly uneven from the knee down. She never let that stop her from standing in the kitchen for hours to bake cakes and pies or make sugary sweets. She collected old biscuit tins to fill with her homemade candy. Ronnie did love to bake and make things to eat and I have it on good authority that this was probably so she could eat them! That being said, she was always happy to share so popping in for tea was a treat!
                            </p>
                            <br>
                            <p class="is-size-4">
                                Knitting and sewing were in her daily activities too. Ronnie could rustle up a child's jumper in a couple of days. She could also sew and used her skills for children's dresses, shirts, shorts, cushions and toys all using a Singer Sewing Machine with a handle! No electric machine in those days. Add crochet talents to that with the ability to rustle up doilies which included toilet seat covers for winter! One of her creations was a short sleeved pullover that she knitted, and separately fashioned a cotton stand alone collar, which she then stitched into the pullover. She said she didn't like wearing a pullover or jumper but all that was necessary to make it look smart.
                            </p>
                            <br>
                            <p class="is-size-4">
                                In cold weather, Ronnie would be found sitting in the car - she wasn’t going anywhere - it was just that the car, having been in the sun, was the warmest place to sit. She would take a book or her knitting and sit there for hours.
                            </p>
                            <br>
                            <p class="is-size-4">
                                Aunty Ronnie was the perfect companion to Nana, as she was a homebody who loved being needed in the home. She was always happy. She would settle in for whatever came her way, be it babies, Land Rover adventures, snakes in the trees, fruit picking, playing fairy games with old potatoes, jam making on an outdoor wood stove, game viewing, chicken chasing or rock climbing. Life was her adventure!
                            </p>
                        </div>
                    </div>
                    <div>
                        <figure class="image is-centered is-3-by-5">
                            <img src="assets/images/banner.jpg">
                        </figure>
                    </div>
                    <div class="is-size-3 has-text-left" style="text-decoration: underline;">
                        <b>COMPETITION Winner!</b> ...
                    </div>
                    <div class="columns">                        
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                                Over the festive season we launched our very first giveaway and we are pleased to announce that Jaclyn Teubes of Cape Town is the lucky South African reader who won a signed paperback copy of The BRO Series.  Keep your eyes peeled for upcoming news on future giveaways.
                            </p>  
                            <br>
                            <p class="is-size-4">
                                For the time being we are running a 44% DISCOUNT on the E-Book! Get your copy today for only $4.99 on SMASHWORDS.
                            </p>
                            <br>
                            <div class="columns">
                                <div class="column is-one-sixth"></div>
                                <div class="column is-one-third has-text-black has-text-centered"  style="margin-top: 0.5rem;">

                                    <div>
                                        <figure class="image is-centered is-3-by-5">
                                            <a href="https://thebrotales.us13.list-manage.com/track/click?u=1f33f97e7c13110b66065cfb3&id=ed6e3c04b1&e=309702e236">
                                                <img src="assets/images/jan23-ebook-icon.jpg">
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="column is-one-third has-text-black has-text-centered  style="margin-top: 0.5rem;">

                                    <div>
                                        <figure class="image is-centered is-3-by-5">
                                            <a href="https://thebrotales.us13.list-manage.com/track/click?u=1f33f97e7c13110b66065cfb3&id=a12ca6595d&e=309702e236">
                                                <img src="assets/images/jan23-takealot-icon.jpg">
                                            </a>
                                        </figure>
                                    </div>
                                </div> 
                                <div class="column is-one-sixth"></div>
                            </div>
                        </div>
                    </div>
                    <p class="is-size-4 has-text-left">
                        In the next BRO Series newsletter: Meet Onnie...
                    </p>
                </div>
            </div>
        </div>

        <div class="hero-body">
            <div class="columns">
                <div class="column is-one-third has-text-black has-text-right" style="margin-top: 0.5rem;">
                    <div class="is-size-2">
                        Volume 1 | Issue 3
                    </div>
                    <div class="is-size-2">
                        December 2022
                    </div>
                    <div class="is-size-4">
                        "Maybe Christmas, he thought, doesn't come from a store. 
                        <br>
                        Maybe Christmas... perhaps... means a little bit more!"
                        <br>
                        ― Dr Seuss

                    </div>
                </div>
                <div class="column is-half has-text-black">
                    <div class="is-size-1 has-text-left">
                        Christmas on the plot with Bonny, Ronnie & Onnie
                    </div>

                    <div class="is-size-4 has-text-justified">
                        As this is the Christmas edition, I have one vivid memory of a big last Christmas with my Nana and Poppa together. I recall family around the tree with large, wrapped gifts for us all. The gifts we all received that year were handmade toys of wood - lovingly made by my Poppa who was a carpenter - he made the girls each a cot for our dolls and a go-cart for the boys. That was the last full family Christmas with so much joy! 
                    </div>

                    <div class="is-size-1 has-text-left">
                        The Story of Bonny.
                    </div>

                    <div class="columns">
                        <div class="column is-one-third has-text-black has-text-justified" style="margin-top: 0.5rem;">

                            <div>
                                <figure class="image is-centered is-3-by-5">
                                    <img src="assets/images/nana.jpg">
                                </figure>
                            </div>
                        </div> 
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                                Today we introduce Bonny in the BRO Series. Bonny was my Nana and she was quite the "superwoman" in real life. She was widowed young and she just naturally filled the role as head of the house. She was capable and strong with lots of energy. She did love to paint and was an excellent artist! She had piercing eyes and would tell us stories of fairies and goblins that live in her garden on the plot. I recall looking into those expressive eyes as she told us how they visit when the air is still and the children are quiet. If we made a sound, then they would vanish! Still today I think of the way she described these magical creatures with big round eyes and tiny, pointed ears.
                            </p>  
                            <br>
                            <p class="is-size-4">                                
                                Bonny was a  busy bee, and she would be seen fixing windows, building with bricks and applying wallpaper to her Lockview house. She could turn her hand to almost anything and did manage the household. Also pretty decent in the kitchen, she could make a sandwich from anything in the fridge and make it taste gourmet!
                            </p>
                            <br>
                            <p class="is-size-4">
                                I was privileged to spend time with her, either out in the garden, or making tea in the kitchen, or in her studio painting a picture. I can still hear her making jokes and having a good laugh.
                            </p>
                            <br>
                            <p class="is-size-4">
                                The first edition is dedicated to my Nana. I will always love and admire you.
                            </p>
                        </div>
                    </div>
                    <div class="is-size-3 has-text-left" style="text-decoration: underline;">
                        A Holly Jolly Christmas <b>COMPETITION</b> ...
                    </div>
                    <div class="columns">
                        <div class="column is-one-third has-text-black has-text-justified" style="margin-top: 0.5rem;">

                            <div>
                                <figure class="image is-centered is-3-by-5">
                                    <img src="assets/images/xmas-giveaway-2022.jpeg">
                                </figure>
                            </div>
                        </div> 
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                               'Tis the season of giving and we would love to spread the joy of Bonny, Ronnie & Onnie. So in the spirit of Christmas we are giving away a signed paperback copy of The BRO Series to one lucky South African reader.
                            </p>  
                            <br>
                            <p class="is-size-4">
                                To enter you must follow us on social media and share the competition details to your story. The winner will be announced on Christmas eve. <a href="{{site.url}}{{site.baseurl}}/terms" class="has-text-black" style="text-decoration: underline;">T&Cs</a> apply.
                            </p>
                            <br>
                            <p class="is-size-4">
                                To purchase the digital or paperback book for Christmas, <b>CLICK</b> the button below to buy a copy for your little ones today.
                            </p>
                            <br>

                            <a href="{{site.url}}{{site.baseurl}}/pages-cupcakes-and-kittens"
                                class="button is-overlay is-black is-size-4 is-rounded is-outlined is-uppercase has-text-weight-bold content-font">Buy Cupcakes and Kittens Today!</a>
                            </a>           

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-body">
            <div class="columns">
                <div class="column is-one-third has-text-black has-text-right" style="margin-top: 0.5rem;">
                    <div class="is-size-2">
                        Volume 1 | Issue 2
                    </div>
                    <div class="is-size-2">
                        November 2022
                    </div>
                    <div class="is-size-4">
                        "You'll never be bored when you try something new. 
                        <br>
                        There's really no limit to what you can do!"
                        <br>
                        ― Dr Seuss

                    </div>
                </div>
                <div class="column is-half has-text-black">
                    <div class="is-size-1 has-text-left">
                        Looking Behind The Scenes Of Bonny, Ronnie & Onnie
                    </div>

                    <div class="is-size-4 has-text-justified">
                        Introducing Caitlin Brenna Cottingham, the talented local illustrator behind Bonny, Ronnie and Onnie.
                    </div>

                    <div class="is-size-3 has-text-left" style="text-decoration: underline;">
                        Meet the Illustrator
                    </div>
                    <br>

                    <div class="columns">
                        <div class="column is-one-third has-text-black has-text-justified" style="margin-top: 0.5rem;">

                            <div>
                                <figure class="image is-centered is-3-by-5">
                                    <img src="assets/images/illustrator.jpg">
                                </figure>
                            </div>
                        </div> 
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                                All I ever wanted to do growing up was be an artist. Since I could hold a pencil in my hand, I was always drawing, painting or daydreaming of what I could create next!
                            </p>  
                            <br>
                            <p class="is-size-4">
                                I relocated after I finished school, to study multimedia design in the colourful and inspiring city of Cape Town. This opened me up to endless opportunities. I now work as an art director during my 9-5pm, but use most of my spare hours to illustrate all the things that inspire me. I run my personal brand under the name 'Brenna Designs.'
                            </p>
                            <br>
                            <p class="is-size-4">
                                My creative process is exciting and sporadic - no day or project is the same. I jumped at the opportunity when Moira kindly asked me if I would illustrate a children's book for her, as this was a dream come true! I loved reading as a child, so it is amazing to get the opportunity to inspire other children just as I was inspired. 
                            </p>
                            <br>
                            <p class="is-size-4">
                                The birth of my pictures start off with sourcing information on illustrations, and then putting together a physical sketch. I then play around with layout and colours. Lastly, I take that sketch and place it into Adobe Illustrator and bring it to life digitally. This final product is the relevant and appealing 'picture part' of the book, which I hope you love and enjoy as much as I did creating it.
                            </p>
                            <br>
                            <p class="is-size-4">
                                Caity.
                            </p>
                        </div>
                    </div>
                    <div class="is-size-3 has-text-left" style="text-decoration: underline;">
                        All I want for Christmas is Bonny, Ronnie & Onnie ...
                    </div>
                    <div class="columns">
                        <div class="column is-one-third has-text-black has-text-justified" style="margin-top: 0.5rem;">
                            <div>
                                <figure class="image is-centered is-3-by-5">
                                    <img src="assets/images/cupcakesandkittens.jpg">
                                </figure>
                            </div>
                        </div> 
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                                Many of our South African fans have been asking where they can get their hands on a paperback copy before Christmas. The good news is that the Takealot SA launch is imminent! Follow us on Instagram or TikTok to hear the news first! Don't snooze - to get your orders in on time before Christmas we're looking at a turnaround time of roughly 10 days.
                            </p>  
                            <br>
                            <p class="is-size-4">
                                In the meantime the digital book is currently available online 24/7. <b>CLICK</b> the button below to buy a copy for your little ones today.
                            </p>
                            <br>
                            <a href="{{site.url}}{{site.baseurl}}/pages-cupcakes-and-kittens"
                                class="button is-overlay is-black is-size-4 is-rounded is-outlined is-uppercase has-text-weight-bold content-font">Buy Cupcakes and Kittens Today!</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-body">
            <div class="columns">
                <div class="column is-one-third has-text-black has-text-right" style="margin-top: 0.5rem;">
                    <div class="is-size-2">
                        Volume 1 | Issue 1
                    </div>
                    <div class="is-size-2">
                        October 2022
                    </div>
                    <div class="is-size-4">
                        "The more that you <b><i>READ</i></b>, the more things you will <b><i>KNOW</i></b>.
                        <br>
                        The more that you <b><i>LEARN</i></b>, the more places you’ll <b><i>GO</i></b>."
                        <br>
                        ― Dr Seuss

                    </div>
                </div>
                <div class="column is-half has-text-black">
                    <div class="is-size-1 has-text-left">
                        Bonny, Ronnie & Onnie
                    </div>

                    <div class="is-size-4 has-text-justified">
                        As I prepare to launch the first of the BRO Series, I want to say a huge thank you to the adults, teachers, parents, grandparents, aunties, uncles and librarians who buy my book to read to their “little one’s” –  I wish you fun and laughter with each adventure!
                    </div>

                    <div class="is-size-3 has-text-left" style="text-decoration: underline;">
                        Meet the Author
                    </div>

                    <div class="columns">
                        <div class="column is-one-third has-text-black has-text-justified" style="margin-top: 0.5rem;">

                            <div>
                                <figure class="image is-centered is-3-by-5">
                                    <img src="assets/images/author.jpg">
                                </figure>
                            </div>
                        </div> 
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                                Let me introduce myself. My name is Moira Mirtle and I am the author and creator of the BRO Series.  I am a Mom of two grown up daughters and live in Stellenbosch in South Africa. I love to laugh and am a huge fan of reading. 
                            </p>
                            <br>
                            <p class="is-size-4">
                                What prompted me to write tales about 3 old ladies you may ask.  My extremely fortunate childhood consisted of a few impactful grandmothers in my life.
                            </p>
                            <br>
                            <p class="is-size-4">
                                Yes, <i>plural</i>, grandmothers - more than two of them.
                            </p>
                            <br>
                            <p class="is-size-4">
                                These fond memories prompted the very first seed of my growing book series.  I am not sure if you can relate, but I had an outdoor childhood.  I grew up in a Country with wonderful weather and a relaxed environment. Spending time with my grandmothers was always fun and I had a "<b>Nana</b>" (British Gran) and an "<b>Ouma</b>" (Afrikaans Gran) and the most wonderful "<b>Gogo</b>" (Grandmother in Ndebele). This was who I spent most of time with as a child, and where I learnt to smile and enjoy hours of play and reading. I feel so honored to share the fun tales with you! 
                            </p>
                            <br>
                            <p class="is-size-4">
                                Moira.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}
    </body>

</html>