---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

    <body>
    {% include navbar.html %}
    
    <section class="hero is-fullheight has-text-centered" id="hero-newsletter">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-one-third has-text-black has-text-right" style="margin-top: 0.5rem;">
                    <div class="is-size-2">
                        Volume 1 | Issue 3
                    </div>
                    <div class="is-size-2">
                        December 2022
                    </div>
                    <div class="is-size-4">
                        Maybe Christmas, he thought, doesn't come from a store. 
                        <br>
                        Maybe Christmas... perhaps... means a little bit more!
                        <br>
                        Dr Seuss

                    </div>
                </div>
                <div class="column is-half has-text-black">
                    <div class="is-size-1 has-text-left">
                        Christmas on the plot with Bonny, Ronnie & Onnie
                    </div>

                    <div class="is-size-4 has-text-justified">
                        As this is the Christmas edition, I have one vivid memory of a big last Christmas with my Nana and Poppa together. I recall family around the tree with large, wrapped gifts for us all. The gifts we all received that year were handmade toys of wood - lovingly made by my Poppa who was a carpenter - he made the girls each a cot for our dolls and a go-cart for the boys. That was the last full family Christmas with so much joy! 
                    </div>

                    <div class="is-size-1 has-text-left">
                        The Story of Bonny.
                    </div>

                    <div class="columns">
                        <div class="column is-one-third has-text-black has-text-justified" style="margin-top: 0.5rem;">

                            <div>
                                <figure class="image is-centered is-3-by-5">
                                    <img src="assets/images/nana.jpg">
                                </figure>
                            </div>
                        </div> 
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                                Today we introduce Bonny in the BRO Series. Bonny was my Nana and she was quite the "superwoman" in real life. She was widowed young and she just naturally filled the role as head of the house. She was capable and strong with lots of energy. She did love to paint and was an excellent artist! She had piercing eyes and would tell us stories of fairies and goblins that live in her garden on the plot. I recall looking into those expressive eyes as she told us how they visit when the air is still and the children are quiet. If we made a sound, then they would vanish! Still today I think of the way she described these magical creatures with big round eyes and tiny, pointed ears.
                            </p>  
                            <br>
                            <p class="is-size-4">                                
                                Bonny was a  busy bee, and she would be seen fixing windows, building with bricks and applying wallpaper to her Lockview house. She could turn her hand to almost anything and did manage the household. Also pretty decent in the kitchen, she could make a sandwich from anything in the fridge and make it taste gourmet!
                            </p>
                            <br>
                            <p class="is-size-4">
                                I was privileged to spend time with her, either out in the garden, or making tea in the kitchen, or in her studio painting a picture. I can still hear her making jokes and having a good laugh.
                            </p>
                            <br>
                            <p class="is-size-4">
                                The first edition is dedicated to my Nana. I will always love and admire you.
                            </p>
                        </div>
                    </div>
                    <div class="is-size-3 has-text-left" style="text-decoration: underline;">
                        A Holly Jolly Christmas <b>COMPETITION</b> ...
                    </div>
                    <div class="columns">
                        <div class="column is-one-third has-text-black has-text-justified" style="margin-top: 0.5rem;">

                            <div>
                                <figure class="image is-centered is-3-by-5">
                                    <img src="assets/images/xmas-giveaway-2022.jpeg">
                                </figure>
                            </div>
                        </div> 
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                               'Tis the season of giving and we would love to spread the joy of Bonny, Ronnie & Onnie. So in the spirit of Christmas we are giving away a signed paperback copy of The BRO Series to one lucky South African reader.
                            </p>  
                            <br>
                            <p class="is-size-4">
                                To enter you must follow us on social media and share the competition details to your story. The winner will be announced on Christmas eve. T&Cs apply.
                            </p>
                            <br>
                            <p class="is-size-4">
                                To purchase the digital or paperback book for Christmas, <b>CLICK</b> the button below to buy a copy for your little ones today.
                            </p>
                            <br>

                            <a href="{{site.url}}{{site.baseurl}}/pages-cupcakes-and-kittens"
                                class="button is-overlay is-black is-size-4 is-rounded is-outlined is-uppercase has-text-weight-bold content-font">Buy Cupcakes and Kittens Today!</a>
                            </a>           

                        </div>
                    </div>
                    <p class="is-size-4 has-text-left">
                        In the next BRO Series newsletter: Meet Ronnie...
                    </p>
                </div>
            </div>
        </div>

        <div class="hero-body">
            <div class="columns">
                <div class="column is-one-third has-text-black has-text-right" style="margin-top: 0.5rem;">
                    <div class="is-size-2">
                        Volume 1 | Issue 2
                    </div>
                    <div class="is-size-2">
                        November 2022
                    </div>
                    <div class="is-size-4">
                        You'll never be bored when you try something new. 
                        <br>
                        There's really no limit to what you can do!
                        <br>
                        Dr Seuss

                    </div>
                </div>
                <div class="column is-half has-text-black">
                    <div class="is-size-1 has-text-left">
                        Looking Behind The Scenes Of Bonny, Ronnie & Onnie
                    </div>

                    <div class="is-size-4 has-text-justified">
                        Introducing Caitlin Brenna Cottingham, the talented local illustrator behind Bonny, Ronnie and Onnie.
                    </div>

                    <div class="is-size-3 has-text-left" style="text-decoration: underline;">
                        Meet the Illustrator
                    </div>
                    <br>

                    <div class="columns">
                        <div class="column is-one-third has-text-black has-text-justified" style="margin-top: 0.5rem;">

                            <div>
                                <figure class="image is-centered is-3-by-5">
                                    <img src="assets/images/illustrator.jpg">
                                </figure>
                            </div>
                        </div> 
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                                All I ever wanted to do growing up was be an artist. Since I could hold a pencil in my hand, I was always drawing, painting or daydreaming of what I could create next!
                            </p>  
                            <br>
                            <p class="is-size-4">
                                I relocated after I finished school, to study multimedia design in the colourful and inspiring city of Cape Town. This opened me up to endless opportunities. I now work as an art director during my 9-5pm, but use most of my spare hours to illustrate all the things that inspire me. I run my personal brand under the name 'Brenna Designs.'
                            </p>
                            <br>
                            <p class="is-size-4">
                                My creative process is exciting and sporadic - no day or project is the same. I jumped at the opportunity when Moira kindly asked me if I would illustrate a children's book for her, as this was a dream come true! I loved reading as a child, so it is amazing to get the opportunity to inspire other children just as I was inspired. 
                            </p>
                            <br>
                            <p class="is-size-4">
                                The birth of my pictures start off with sourcing information on illustrations, and then putting together a physical sketch. I then play around with layout and colours. Lastly, I take that sketch and place it into Adobe Illustrator and bring it to life digitally. This final product is the relevant and appealing 'picture part' of the book, which I hope you love and enjoy as much as I did creating it.
                            </p>
                            <br>
                            <p class="is-size-4">
                                Caity.
                            </p>
                        </div>
                    </div>
                    <div class="is-size-3 has-text-left" style="text-decoration: underline;">
                        All I want for Christmas is Bonny, Ronnie & Onnie ...
                    </div>
                    <div class="columns">
                        <div class="column is-one-third has-text-black has-text-justified" style="margin-top: 0.5rem;">

                            <div>
                                <figure class="image is-centered is-3-by-5">
                                    <img src="assets/images/cupcakesandkittens.jpeg">
                                </figure>
                            </div>
                        </div> 
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                                Many of our South African fans have been asking where they can get their hands on a paperback copy before Christmas. The good news is that the Takealot SA launch is imminent! Follow us on Instagram or TikTok to hear the news first! Don't snooze - to get your orders in on time before Christmas we're looking at a turnaround time of roughly 10 days.
                            </p>  
                            <br>
                            <p class="is-size-4">
                                In the meantime the digital book is currently available online 24/7. <b>CLICK</b> the button below to buy a copy for your little ones today.
                            </p>
                            <br>
                            <a href="{{site.url}}{{site.baseurl}}/pages-cupcakes-and-kittens"
                                class="button is-overlay is-black is-size-4 is-rounded is-outlined is-uppercase has-text-weight-bold content-font">Buy Cupcakes and Kittens Today!</a>
                            </a>           

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-body">
            <div class="columns">
                <div class="column is-one-third has-text-black has-text-right" style="margin-top: 0.5rem;">
                    <div class="is-size-2">
                        Volume 1 | Issue 1
                    </div>
                    <div class="is-size-2">
                        October 2022
                    </div>
                    <div class="is-size-4">
                        The more that you <b><i>READ</i></b>, the more things you will <b><i>KNOW</i></b>.
                        <br>
                        The more that you <b><i>LEARN</i></b>, the more places you’ll <b><i>GO</i></b>.
                        <br>
                        Dr Seuss

                    </div>
                </div>
                <div class="column is-half has-text-black">
                    <div class="is-size-1 has-text-left">
                        Bonny, Ronnie & Onnie
                    </div>

                    <div class="is-size-4 has-text-justified">
                        As I prepare to launch the first of the BRO Series, I want to say a huge thank you to the adults, teachers, parents, grandparents, aunties, uncles and librarians who buy my book to read to their “little one’s” –  I wish you fun and laughter with each adventure!
                    </div>

                    <div class="is-size-3 has-text-left" style="text-decoration: underline;">
                        Meet the Author
                    </div>

                    <div class="columns">
                        <div class="column is-one-third has-text-black has-text-justified" style="margin-top: 0.5rem;">

                            <div>
                                <figure class="image is-centered is-3-by-5">
                                    <img src="assets/images/author.jpg">
                                </figure>
                            </div>
                        </div> 
                        <div class="column has-text-black has-text-justified">
                            <p class="is-size-4">
                                Let me introduce myself. My name is Moira Mirtle and I am the author and creator of the BRO Series.  I am a Mom of two grown up daughters and live in Stellenbosch in South Africa. I love to laugh and am a huge fan of reading. 
                            </p>
                            <br>
                            <p class="is-size-4">
                                What prompted me to write tales about 3 old ladies you may ask.  My extremely fortunate childhood consisted of a few impactful grandmothers in my life.
                            </p>
                            <br>
                            <p class="is-size-4">
                                Yes, <i>plural</i>, grandmothers - more than two of them.
                            </p>
                            <br>
                            <p class="is-size-4">
                                These fond memories prompted the very first seed of my growing book series.  I am not sure if you can relate, but I had an outdoor childhood.  I grew up in a Country with wonderful weather and a relaxed environment. Spending time with my grandmothers was always fun and I had a "<b>Nana</b>" (British Gran) and an "<b>Ouma</b>" (Afrikaans Gran) and the most wonderful "<b>Gogo</b>" (Grandmother in Ndebele). This was who I spent most of time with as a child, and where I learnt to smile and enjoy hours of play and reading. I feel so honored to share the fun tales with you! 
                            </p>
                            <br>
                            <p class="is-size-4">
                                Moira.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}
    </body>

</html>