---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-left" id="page-section">
                <div class="section">
                    <h1 class="title is-1 is-uppercase has-text-weight-bold title-font">
                        {{page.title}}
                    </h1>
                    
                    <h1 class="subtitle is-3 is-uppercase has-text-weight-bold content-font">
                        {{page.subtitle}}
                    </h1>
                    <hr class="has-background-black">
                    <br>
                    <div class="is-size-1 has-text-left">
                        General Competition Rules
                    </div>

                    <p class="is-size-4">
                        1. These general competition terms and conditions (“General Terms and Conditions”) are applicable to all promotional competitions conducted and/or promoted partly or wholly by or associated with The BRO Series shall apply in conjunction with the specific terms and conditions applicable to a promotional competition. Where there is a conflict between the General Terms and Conditions and the competition specific terms and conditions, the provisions of the General Terms and Conditions supersede any other terms and conditions.
                    </p>
                    <p class="is-size-4">
                        2. Promotional competitions are open to all South African citizens and permanent residents over the age of 18 (eighteen) unless otherwise stated. Entrants below the age of 18 (eighteen) must obtain parents’ or guardians’ consent prior to entering the competition/s.
                    </p>
                    <p class="is-size-4">
                        3. No person may on behalf of a third party, enter any promotional competition hosted partly or in whole by The BRO Series. All entries must be made personally by the entrant unless otherwise stated.
                    </p>
                    <p class="is-size-4">
                        4. The judges' decision is final, and no correspondence will be entered into. Neither The BRO Series, sponsors nor their agents will be held responsible or answerable to any dispute arising from the promotional competition or prize awards.
                    </p>
                    <p class="is-size-4">
                        5. Prizes are not transferable, negotiable and may not be exchanged for cash.
                    </p>
                    <p class="is-size-4">
                        6. The BRO Series and its sponsors (“the promoters”) reserve the right, in their sole discretion, to cancel or suspend any competition or promotion or change the rules if errors need to be corrected, or to prevent any party from being unduly prejudiced or favoured in the reasonable discretion of the promoter.
                    </p>
                    <p class="is-size-4">
                        7. The winner/s will be contacted via e-mail and/or sms and/or telephone at which point arrangements will be made for the winner/s to receive his/her/their Prize(s). If The BRO Series is not able to contact the winner despite reasonable attempts, within 10 (ten) working days, it reserves the right to disqualify the winner and select an alternative winner, in which event the initial winner will have no recourse against the promoters.
                    </p>
                    <p class="is-size-4">
                        8. The delivery of physical prizes or the payment of the prize money will be within 21 (twenty-one) business days of the end of the promotional competition, and subject to The BRO Series having received all required documents and information for the delivery of the prize or the payment of the prize money.
                    </p>
                    <p class="is-size-4">
                        9. Subject to sponsor conditions or other agreements, the promoters undertake to deliver prizes to respective winners only where the winner’s delivery address is within the geographical area defined by Republic of South Africa. The promoters may require winners resident or located outside the terrestrial area to arrange the for the collection of their prize at their own cost.
                    </p>
                    <p class="is-size-4">
                        10. Prizes not collected/claimed within 40 (forty) business days of being won will be disposed of or redistributed at the promoters discretion.
                    </p>
                    <p class="is-size-4">
                        11. Entrants accept that certain other terms and conditions may apply as prescribed by the promoters. Where there are specific terms and conditions in addition to these General Competition rules, such terms and conditions shall be listed under the terms and conditions of the specific competition and shall be construed to form part of the General Terms and Conditions.
                    </p>
                    <p class="is-size-4">
                        12. The Promoters will use the winner’s name/s and/or photograph/s in any promotional and/or advertising material for the purposes of marketing, unless the winner objects to such use in writing.
                    </p>
                    <p class="is-size-4">
                        13. The winner will be required to sign a winner’s declaration form and other related documentation as required by law and will also need to provide proof of identity. The winner may not receive the prize if it is against the law for the winner to receive the prize.
                    </p>
                    <p class="is-size-4">
                        14. The promoters may require winners to provide additional information that may reasonably be required in order to process and facilitate their acceptance and/or use of a prize.
                    </p>
                    <p class="is-size-4">
                        15. If a promotional competition is cancelled or suspended due to any reasons, all participants or entrants agree to waive any rights that they may have in terms of the competition and acknowledge that they have no recourse against the promoters, their employees, agents, partners, suppliers, or their sponsors.
                    </p>
                    <p class="is-size-4">
                        16. Any violation or attempt to violate any of the above rules will result in the immediate disqualification of the transgressor.
                    </p>
                    <p class="is-size-4">
                        17. The prize is provided “as is” and the promoters disclaim liability however arising out of your use of the prize.
                    </p>
                    <p class="is-size-4">
                        18. You hereby indemnify and hold harmless the promoters (including their directors, employees, members, independent contractors, agents, consultants, sub-contractors and other representatives) from any and all direct, indirect or consequential loss or damages suffered as a result of any action or omission relating to this competition and/or promotion and/or the award of any prize.
                    </p>
                    <p class="is-size-4">
                        19. PRIVACY & PROCESSING OF PERSONAL INFORMATION: The personal information which is collected from you and processed by The BRO Series is done solely with your consent and in accordance with The BRO Series Privacy Notice, available at www.thebrotales.co.za. The personal information which you provide to us in completing this competition form will be processed purely for the purposes of this competition. We will not share your personal information further unless The BRO Series so requires in terms of law or in terms of a legitimate business purpose. You may write to us at info@thebrotales.co.za should you have any questions regarding how we process the personal information you provide.
                    </p>
                    <p class="is-size-4">
                        20. By your entry into the competition consent to the collection, processing, use, recording and/or storage of your personal information and the disclosure of your personal information to third parties where the processing is necessary for fulfilling the competition and/or pursuing the legitimate interests of the third party to whom it is disclosed and/or where the third party processes personal information on The BRO Series' behalf.
                    </p>
                    

                    <div class="is-size-1 has-text-left">
                        Copyright
                    </div>
                    <p class="is-size-4">
                        All content included on this website, such as text, graphics, logos, button icons, images, audio clips, and software, is the property of The BRO Series or its content suppliers and is protected by South African and international copyright laws and treaties. Furthermore, the compilation (meaning the collection, arrangement, and assembly) of all content on this website is the exclusive property of The BRO Series.
                    </p>
                    <br>
                    <p class="is-size-4">
                        Without derogating from the above, The BRO Series authorises you to view, copy, download to a local drive, print and distribute the content of this website, or parts thereof, provided that:
                    </p>
                    <p class="is-size-4">
                        1. Such content is used for information purposes only;
                    </p>
                    <p class="is-size-4">
                        2. Such content is used for non-commercial purposes; and
                    </p>
                    <p class="is-size-4">
                        3. Any reproduction of material from this web site or portion thereof must include this notice in its entirety.
                    </p>
                    <br>
                    <p class="is-size-4"> 
                        Furthermore, this website is generated with open source software. Details regarding the software license is available in the source code repository.
                    </p>

                    <div class="is-size-1 has-text-left">
                        Trademarks
                    </div>
                    <p class="is-size-4">
                        The trademarks, service marks, logos and other proprietary names and identifiers which are owned by The BRO Series and displayed on this website, may not be used in connection with any product or service that does not belong to The BRO Series. Furthermore, nothing contained on this website should be construed as granting a license or right to use any of the trademarks without the express, written permission of The BRO Series.
                    </p>

                    <div class="is-size-1 has-text-left">
                        Access and Availability of Service and Links
                    </div>
                    <p class="is-size-4">
                        The BRO Series’s websites may contain links to other related Internet websites. No inference can be made, or representation implied, that The BRO Series is affiliated to, operates or controls these linked websites. The linked websites are for the user’s convenience only and user access thereto is at the user’s own risk. When visiting linked websites the user must refer to that linked site’s individual terms and conditions of use and cannot rely on the terms and conditions contained herein.
                    </p>

                    <div class="is-size-1 has-text-left">
                        Liability Disclaimer
                    </div>
                    <p class="is-size-4">
                        The information, services, products and materials published on this website, including without limitation, text, graphics and links are provided on an "as is" basis. The BRO Series makes no representations or warranties of any kind, express or implied, as to the operation of the websites or the information, contents, materials, or products included on these sites. Without limiting the generality of the foregoing. The BRO Series does not warrant that:
                    </p>
                    <p class="is-size-4">
                        1. That this website will be error-free,
                    </p>
                    <p class="is-size-4">
                        2. This website will meet any particular criteria of accuracy, completeness or reliability of information, performance or quality; and
                    </p>
                    <p class="is-size-4">
                        3. Whilst The BRO Series has taken reasonable measures to ensure the integrity of this website and its contents, no warranty, whether express or implied, is given that any files, downloads or applications available via this website are free of viruses, trojans, bombs, time-locks or any other date or code which has the ability to corrupt or affect the operation of your system.
                    </p>
                    <br>
                    <p class="is-size-3">
                        Limitation of Liability
                    </p>
                    <p class="is-size-4">
                        In no event shall The BRO Series and its suppliers be liable for any direct, indirect, punitive, incidental, special or consequential damages arising out of or in any way connected with the use of this website. Such limitation shall also apply with respect to damages resulting from the inability to use this website, the operational failure of this website, or for any information, products, and services obtained through this website, or otherwise arising out of the use of this website, whether based on contract, delict, strict liability or otherwise, even if The BRO Series and/or any of its suppliers has been advised of the possibility of damages.
                    </p>
                    <div class="is-size-1 has-text-left">
                        Violation and Waiver
                    </div>
                    <p class="is-size-4">
                        Should you violate these Terms and Conditions or any other rights of The BRO Series, The BRO Series reserves the right to pursue any and all legal and equitable remedies against you. If The BRO Series should fail to enforce any right or provision in these Terms and Conditions, you agree that this failure does not constitute a waiver of such right or provision or of any other rights or provisions in these Terms and Conditions.
                    </p>
                    <p class="is-size-4">
                        If a court should find that one or more rights or provisions set forth in these Terms and Conditions are invalid, you agree that the remainder of the Terms and Conditions shall be enforceable and that, to the extent permitted by law, the court shall give effect to the parties’ intentions, as reflected in any such right or provision that has been declared invalid or unenforceable.
                    </p>
                    <div class="is-size-1 has-text-left">
                        Privacy
                    </div>
                    <p class="is-size-4">
                        By your usage of this site, you agree to The BRO Series processing your personal information including but not limited to information about your age, gender, marital status, occupation, qualifications and/or household structure.
                    </p>
                    <p class="is-size-4">
                        You acknowledge and agree that The BRO Series may process your personal information for the following purposes:
                    </p>
                    <p class="is-size-4">
                        1. Cross-checking and data enrichment of your personal information;
                    </p>
                    <p class="is-size-4">
                        2. Consumer database storage;
                    </p>
                    <p class="is-size-4">
                        3. Profiling consumers;
                    </p>
                    <p class="is-size-4">
                        4. Generating aggregate insights on the basis of such profiling;
                    </p>
                    <p class="is-size-4">
                        5. Developing algorithms for targeted advertising;
                    </p>
                    <p class="is-size-4">
                        6. Sharing it with authorised third parties;
                    </p>
                    <p class="is-size-4">
                        7. Contacting you to provide you with information about The BRO Series products and services (including special offers that are tailor made for you);
                    </p>
                    <p class="is-size-4">
                        8. As may be required or authorised by law; and
                    </p>
                    <p class="is-size-4">
                        9. As may be necessary for the pursuing of The BRO Series legitimate interests or the legitimate interests of the third party to whom it is disclosed.
                    </p>
                    <p class="is-size-4">
                        You consent to the collection, processing, use, recording and/or storage of your personal information, including any special personal information described above and the disclosure of your personal information to third parties where the processing is necessary for pursuing the legitimate interests of the third party to whom it is disclosed and/or where the third party processes personal information on The BRO Series's behalf.
                    </p>
                    <br>
                    <p class="is-size-4">
                        You further agree that your personal information may in appropriate circumstances reside outside of South Africa, and you hereby agree to the transfer of your personal information to locations outside of South Africa and the use of your personal information in such locations as described above.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>